.flex {
  display: flex;
}
.justify_center {
  justify-content: center;
}
.select {
  list-style-type: none;
}
.select li {
  padding: 3px 20px;
  margin: 0 20px;
  color: #fff;
  border-radius: 4px;
}
.box {
  border: 1px solid #c6af5c;
  height: 200px;
  width: 100%;
  padding: 10px;
}
.box li {
  display: inline-block;
  padding: 3px 20px;
  margin: 10px 20px;
  border-radius: 4px;
  color: #fff;
}
.drop_over {
  background-color: #ccc;
}
.b_green {
  background-color: #1f4b13;
}
.b_pink {
  background-color: pink;
}
.b_blue {
  background-color: #4973f3;
}
.b_yellow {
  background-color: #c6af5c;
}
.b_red {
  background-color: #ea445a;
}
